# Virtual environments
.venv/
venv/
env/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local

# Local Data / Logs
*.csv
*.pdf
vectorized_registry.txt
Research_docs/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
